/* Section Styles */
#activities {
    padding: 20px;
    text-align: center;
}

#activities h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Activity Cards */
.activity-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.activity-cards .card {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px;
    width: 100%; /* Ensure the card takes full width within its container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: transform 0.3s, box-shadow 0.3s;
}

.activity-cards .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.activity-cards .card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.activity-cards .card p {
    font-size: 0.9em;
    color: #555;
    margin: 10px 0;
}

.activity-cards .activity-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.activity-cards .activity-images img {
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 600px) {
    .activity-cards {
        flex-direction: column;
        align-items: center;
    }

    .activity-cards .card {
        max-width: 100%;
    }

    .activity-cards .activity-images {
        flex-direction: column;
    }

    .activity-cards .activity-images img {
        max-width: 80%;
    }
}
